@import '../../../../utils/globals.scss';

$whatWeHaveDoneBreakpoint: 800;
$whatWeHaveDonetransitionDur: 500;

.whatWeHaveDone {
    display: flex;
    flex: 1;
    overflow: hidden;

    .left {
        flex: 3;
        position: relative;
        margin: #{$margin * 2}px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header {
            color: $light;
            margin-bottom: #{$margin * 2}px;
            transition: opacity #{$whatWeHaveDonetransitionDur}ms;

            &.start {
                opacity: 0;
            }

            &.end {
                opacity: 1;
            }
        }

        .content {
            max-width: 450px;
            text-align: center;
            color: $light;
            margin-bottom: #{$margin * 4}px;
            transition: opacity #{$whatWeHaveDonetransitionDur}ms;

            &.start {
                opacity: 0;
            }

            &.end {
                opacity: 1;
            }
        }

        .controls {
            display: flex;
            align-items: center;
            max-width: 450px;
            min-width: 300px;

            .left-control {
                transform: rotate(180deg);
            }

            .left-control, .right-control {
                color: $light;

                * {
                    font-size: 50px;
                    cursor: pointer;
                }
            }

            .center {
                flex: 1;
                display: flex;
                align-items: center;

                .line {
                    flex: 1;
                    height: 5px;
                    background-color: $light;
                    position: relative;

                    img {
                        position: absolute;
                        top: -9px;
                        left: 50%;
                        height: 200px;
                        width: auto;
                        transform: translateX(-50%);
                    }
                }

                .circle {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: $light;
                }
            }
        }
        

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
            max-width: 700px;
            object-fit: cover;
            z-index: -1;
        }
    }

    .right {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: #{$margin * 2}px;
        transition: transform #{$whatWeHaveDonetransitionDur}ms;

        &.start {
            transform: translateX(150%);
        }
        &.end {
            transform: translateX(0px);
        }

        .card-container {
            flex: 1;
            display: flex;
            position: relative;

            .card {
                flex: 1;

                img .end {
                    display: static;
                }

                img .start {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: #{$whatWeHaveDoneBreakpoint}px) {
    .whatWeHaveDone {
        flex-direction: column-reverse;

        .left {
            min-height: 500px;
        }
    }
}

:export {
    whatWeHaveDonetransitionDur: $whatWeHaveDonetransitionDur;
}