@import '../../utils/globals.scss';
@import '../navbar/navbar.module.scss';

.section {
    min-height: 100vh;
    padding-top: #{$navbarHeight}px;
    position: relative;
    overflow: hidden;

    &:nth-child(2n) {
        background-color: $primary;
    }
}