@import '../../utils/globals.scss';
@import '../navbar/navbar.module.scss';


.page {
    .section {
        position: relative;
        padding-top: #{$navbarHeight}px;

        &.clip {
            clip-path: inset(0);
        }
    
        .section-navbar {
            position: absolute;
            height: calc(100% + #{$navbarHeight * 2}px);
            width: 100%;
            top: -#{$navbarHeight}px;
        }

        .section-navbar-no-clip {
            position: absolute;
            height: #{$navbarHeight}px;
            width: 100%;
            top: 0px;
        }
    
        .section-content {
            min-height: calc(100vh - #{$navbarHeight}px);
            position: relative;
        }
    
        &:nth-child(2n) {
            background-color: $primary;
        }

        &:last-child {
            .section-navbar {
                height: calc(100% + #{$navbarHeight}px);
            }
        }
    }
}
