@import '../../utils/globals.scss';

$breakpointOne: 550;

$navbarHeight: 75;

.navbar {
    height: #{$navbarHeight}px;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: $light;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    will-change: top;

    &.light {
        background-color: $light;
    }

    &.primary {
        background-color: $primary;
    }
    
    .branding {
        position: relative;
        padding: #{$padding * 3}px;
        margin-left: #{$margin * 3}px;

        img {
            height: 100%;
            width: auto;
        }
    }

    .actions {
        min-width: 60vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        * {
            align-self: center;
        }
    }

    .actions-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: #{$margin * 2}px;
    }
}

:export {
    breakpointOne: $breakpointOne;
}