@import '../../utils/globals.scss';

$transDur: 250;

.sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;

    .dimmer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba($dark, 0.85);
        transition: opacity #{$transDur}ms;

        &.open {
            opacity: 1;
        }

        &.close {
            opacity: 0;
        }
    }

    .menu {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 80vw;
        background-color: $light;
        transition: right #{$transDur}ms;

        .branding {
            position: relative;
            padding: #{$padding * 4}px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .actions {
            display: flex;
            flex-direction: column;
            padding: #{$padding * 3}px;
        }

        &.open {
            right: 0px;
        }

        &.close {
            right: -80vw;
        }
    }
}

:export {
    transDur: $transDur;
}