@import '../../../../utils/globals.scss';

$whatWeDoBreakpoint: 972;

.whatWeDo {
    display: flex;
    align-items: center;
    min-height: 70vh;

    .cards {
        display: grid;
        flex: 1;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: #{$padding * 2}px;
        grid-gap: #{$padding * 2}px;
        

        .card {
            transition: transform 0.25s;

            &:hover {
                transform: translateY(-25px);
            }
            
        }
    }
    
}

@media screen and (max-width: #{$whatWeDoBreakpoint}px) {
    .whatWeDo .cards {

        .card:hover {
            transform: translateY(0px);
        }
    }
}